

body {
    background-image: url('background.jpg');
    height: 100%;
    background-size: cover;
    margin-top: 105px;
    margin-left: 150px;
}

h1 {
    font-family: Verdana;
    font-size: 45px;
    color: #423D3A;
    margin-left: 4%;
}

h2 {
    font-family: Verdana;
    color: #423D3A;
    margin-left: 4%;
}


p {
    font-family: Verdana;
    color: #423D3A;
    margin-left: 4%;
}

img {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 30%;
    border-radius: 8px;
}

div {
    font-family: Verdana;
    color: #E4E4D2;
}

nav ul {
    float: left;
    margin-left: 0px;
}

nav li {
    display: inline-block;
    margin: 0 8pxS;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    color: #423D3A;
    text-align: center;
    padding: 10px 12px;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
    border: 1px solid #423D3A
}

.topnav a.active {
    background-color: #434347;
    color: #FFFBFA
}

@media (max-width: 1024px) {
        h1 {
                font-family: Verdana;
                font-size: 40px;
                color: #423D3A;
                margin-left: 4%;
            }
                        h2 {
                            font-family: Verdana;
                            color: #423D3A;
                            margin-left: 4%;
                            font-size: 25px;
                        }
            img {
                display: none;
            }
        
            p {
                font-family: Verdana;
                font-size: 15px;
                color: #423D3A;
                margin-left: 4%;
            }
                .topnav a {
                    color: #423D3A;
                    text-align: center;
                    padding: 10px 12px;
                    font-size: 15px;
                }
        
                body {
                    background-image: url('imgbg.jpg');
                    background-position: top right;
                    background-size: cover;
                    height: 100%;
                    margin-top: 105px;
                    margin-left: 150px;
                }
    }

@media (max-width: 600px) {

    h1 {
            font-family: Verdana;
            font-size: 25px;
            color: #423D3A;
            margin-left: 4%;
            text-align: center;
        }
    
        h2 {
            font-family: Verdana;
            color: #423D3A;
            margin-left: none;
            font-size: 20px;
            text-align: center;
        }
    
        img {
            display: none;
        }
    
        p {
            font-family: Verdana;
            font-size: 12px;
            color: #423D3A;
            margin-left: none;
            text-align: center;
        }
    
        .topnav a {
            color: #423D3A;
            text-align: center;
            padding: 10px 12px;
            font-size: 12px;
        }
    
        body {
            background-image: url('imgbg.jpg');
            background-position: top right;
            background-size: cover;
            height: 100%;
            margin-top: 105px;
            margin-left: 150px;
        }
}


